.content {
    background-color: #FFF;
    font-size: 17px;

    .container {
        margin-top: 500px;
    }

    &__decription {
        display: flex;
        flex-direction: row;
    }

    &__items {
        display: flex;
        flex-direction: row;
        margin-bottom: 200px;
    }

    &__items>li {
        @include border;
    }

    &__item>p {
        font-family: "Raleway";
    }

    .purple {
        margin-right: 30px;
        border-color: #6D3F96;

    }

    .blue {
        margin-right: 30px;
        border-color: #70CBCE;
    }

    .orange {
        border-color:#FDC05D;
    }

    h2 {
        color: $black_color;
        padding: 15px 0px;
    }
}