.content {
    background-color: #FFF;
    font-size: 17px;

    @include phone {
        min-height: 100%;
    }

    .container {
        margin-top: 500px;
        @include phone{
            margin-top: 80px;
        }
    }

    &__decription {
        display: flex;
        flex-direction: row;
    }

    &__items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 200px;

        @include phone {
            flex-direction: column;
            align-items: center;
            margin-bottom: 60px;
        }
    }





    &__item {
        width: 32%;
        @include phone{
            width: 90%;
            padding-bottom: 60px;
        }

        &--purple {
            border-top: solid 4px #6D3F96;

        }

        &--blue {
            border-top: solid 4px #70CBCE;
        }

        &--orange {
            border-top: 4px solid #FDC05D;
        }

        p {
            font-family: "Raleway", sans-serif;
        }
    }

    h2 {
        color: $black_color;
        padding: 15px 0px;

    }
}