.footer{
    .container{
        @extend %flexible;
        justify-content: space-between;
        height: 200px;
        margin: 120px auto;
    }
    &__icons{
        @extend %flexible;
        justify-content: space-between;
        width: 10%;
    
    }
    i{
        display: block;
       text-align: center;
       padding: 7px;
    }
    a{
        color:$grey_color;
        font-size: 17px;
    }
    span{
        border: 1px solid $grey_color;
        height: 30px;
        width: 30px;
        text-align: center;
        border-radius: 3px;
    }
    


    

   
       
}