$white_color:#fff;
$grey_color:#929496;
$dark_color:#231F20;
$blue_color:#70CBCE;
$black_color:#000000;

$font_text: "Montserrat", sans-serif;

$font_h2: "Montserrat", sans-serif;

%section{
    min-height: 512px;
    padding: 80px 0px;
}

%flexible{
    display: flex;
    flex-direction: row;
}

@mixin item{
    border-radius: 4px;
    text-transform: uppercase;
}

@mixin bg{
    padding: 50px;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white_color;
    display: flex;
}

@mixin border{
    border-top: solid 4px;
}
@mixin phone{
    @media screen and (max-width:520px)
    {
        @content;
    }
        
    }
