@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway&display=swap");
.tittle, .mail, .firstscreen {
  min-height: 512px;
  padding: 80px 0px; }

.header__top,
.header .menu__items, .tittle .container, .price .container, .price__container, .mail .container, .footer .container, .footer__icons {
  display: flex;
  flex-direction: row; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

a {
  text-decoration: none;
  color: #fff;
  font-size: 14px; }

li {
  list-style: none; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 1.5em; }

.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0; }
  .header__top,
  .header .menu__items {
    justify-content: space-between; }
  .header a {
    padding: 20px;
    text-transform: capitalize; }

.tittle {
  background-image: url(/app/images/bgpurple.jpg);
  padding: 50px;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  background-attachment: fixed; }
  .tittle .container {
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    text-align: center; }
  .tittle h2 {
    padding-bottom: 30px; }
  .tittle img {
    margin-top: 67px;
    width: 504px; }

.price {
  background-color: #70CBCE; }
  .price .container {
    flex-direction: column;
    align-items: center; }
  .price__text {
    margin: 60px auto;
    text-align: center; }
    .price__text h2 {
      padding-bottom: 30px; }
  .price .left,
  .price .center {
    margin-right: 30px; }
  .price__container {
    text-align: center;
    margin-bottom: 200px; }
  .price__block {
    width: 380px;
    text-align: center; }
  .price__block:hover {
    transform: scale(1.15);
    transition: 1s 0.5s ease; }
  .price .black {
    background-color: #000000;
    color: #fff;
    font-size: 14px; }
  .price .grey {
    font-size: 21px;
    color: #fff;
    text-transform: capitalize;
    background-color: #231F20; }
  .price .text {
    color: #929496;
    font-size: 17px; }
  .price .text, .price .black-color {
    background-color: #fff;
    border-bottom: 1px dotted #a09b9b7c; }
  .price .black-color {
    font-family: "Raleway" !important; }
  .price .blue {
    background-color: #c4c4c4;
    text-transform: uppercase;
    font-size: 17px; }
    .price .blue a {
      color: #70CBCE; }

.mail {
  background-color: #F2F2F2; }
  .mail .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 200px auto; }
  .mail img,
  .mail p {
    margin-bottom: 50px; }
  .mail img::before {
    border-radius: 100%;
    border: 1px solid #70CBCE; }
  .mail h2, .mail__input1 {
    margin-bottom: 30px;
    color: #000000;
    width: 380px; }
  .mail input {
    height: 50px;
    border: none;
    border-radius: 3px;
    text-transform: capitalize; }
  .mail__input1 {
    color: #929496;
    padding-left: 15px; }
  .mail__input2 {
    background-color: #70CBCE;
    padding: 20px;
    color: #fff; }

.footer .container {
  justify-content: space-between;
  height: 200px;
  margin: 120px auto; }
.footer img {
  width: 23px;
  height: 23px; }
.footer .twi, .footer .face {
  margin-right: 10px; }

.content {
  background-color: #FFF;
  font-size: 17px; }
  .content .container {
    margin-top: 500px; }
  .content__decription {
    display: flex;
    flex-direction: row; }
  .content__items {
    display: flex;
    flex-direction: row;
    margin-bottom: 200px; }
  .content__items > li {
    border-top: solid 4px; }
  .content__item > p {
    font-family: "Raleway"; }
  .content .purple {
    margin-right: 30px;
    border-color: #6D3F96; }
  .content .blue {
    margin-right: 30px;
    border-color: #70CBCE; }
  .content .orange {
    border-color: #FDC05D; }
  .content h2 {
    color: #000000;
    padding: 15px 0px; }

.firstscreen {
  padding: 50px;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  background-image: url(/app/images/mountain.jpg); }
  .firstscreen .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .firstscreen__tittle {
    width: 60%;
    margin: 0 auto;
    text-align: center; }
    .firstscreen__tittle h2, .firstscreen__tittle p {
      padding-bottom: 30px; }
    .firstscreen__tittle .firstscreen__items {
      display: flex;
      justify-content: center; }
    .firstscreen__tittle li {
      width: 180px; }
    .firstscreen__tittle .a {
      display: block; }
    .firstscreen__tittle .item-white {
      background-color: #fff;
      margin-right: 30px;
      border-radius: 4px;
      text-transform: uppercase; }
    .firstscreen__tittle .item-white > a {
      color: #929496; }
    .firstscreen__tittle .item-blue {
      background-color: #70CBCE;
      border-radius: 4px;
      text-transform: uppercase; }
  .firstscreen img {
    margin: 30px auto; }

/*# sourceMappingURL=style.css.map */
