@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway&display=swap");
.tittle, .mail, .firstscreen {
  min-height: 512px;
  padding: 80px 0px; }

.header__top,
.header .menu__items, .tittle .container, .price .container, .price__items, .mail .container, .footer .container, .footer__icons {
  display: flex;
  flex-direction: row; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

a {
  text-decoration: none;
  color: #fff;
  font-size: 14px; }

li {
  list-style: none; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 1.5em; }

.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0; }
  .header__top,
  .header .menu__items {
    justify-content: space-between; }
  .header a {
    padding: 20px;
    text-transform: capitalize; }

.tittle {
  background-image: url(/app/images/bgpurple.jpg);
  padding: 50px;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  background-attachment: fixed; }
  .tittle .container {
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    text-align: center; }
  .tittle h2 {
    padding-bottom: 30px; }
  .tittle img {
    margin-top: 67px;
    width: 504px; }

.price {
  background-color: #70CBCE; }
  .price .container {
    flex-direction: column;
    align-items: center; }
  .price__text {
    margin: 60px auto;
    text-align: center; }
    .price__text h2 {
      padding-bottom: 30px; }
  .price__items {
    text-align: center;
    margin-bottom: 200px;
    justify-content: space-between; }
  .price__item {
    width: 32%;
    transition: 1s 0.5s ease;
    background-color: #fff;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden; }
  .price__item:hover {
    transform: scale(1.15);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); }
  .price li {
    min-height: 50px;
    line-height: 50px; }
  .price .black {
    background-color: #000000;
    color: #fff;
    font-size: 14px; }
  .price .grey {
    background-color: #231F20;
    color: #929496;
    font-size: 16px; }
    .price .grey span {
      font-size: 24px;
      color: #fff;
      font-weight: bold; }
  .price .text {
    color: #929496;
    font-size: 17px;
    line-height: 1.3em;
    padding: 20px;
    border-bottom: 1px dashed #a09b9b7c; }
  .price .black-color {
    border-bottom: 1px dashed #a09b9b7c;
    font-weight: bold;
    font-size: 17px; }
  .price .black-color {
    font-family: "Raleway" !important; }
  .price .blue {
    background-color: rgba(196, 196, 196, 0.301);
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    line-height: 50px; }
    .price .blue a {
      color: #70CBCE;
      display: block;
      height: 50px; }
    .price .blue:hover {
      background-color: rgba(196, 196, 196, 0.5); }

.mail {
  background-color: #F2F2F2; }
  .mail .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 200px auto; }
  .mail .mail_pic {
    font-size: 30px;
    margin-bottom: 30px; }
  .mail i {
    display: block;
    border-radius: 100%;
    border: 3px solid;
    padding: 22px;
    color: #70CBCE; }
  .mail p {
    margin-bottom: 50px; }
  .mail h2, .mail__input1 {
    margin-bottom: 30px;
    color: #000000;
    width: 380px; }
  .mail form {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .mail input {
    height: 50px;
    border: none;
    border-radius: 3px;
    text-transform: capitalize; }
  .mail__input1 {
    color: #929496;
    padding-left: 15px;
    font-size: 21px; }
  .mail__input2 {
    background-color: #70CBCE;
    padding: 20px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase !important; }

.footer .container {
  justify-content: space-between;
  height: 200px;
  margin: 120px auto; }
.footer__icons {
  justify-content: space-between;
  width: 10%; }
.footer i {
  display: block;
  text-align: center;
  padding: 7px; }
.footer a {
  color: #929496;
  font-size: 17px; }
.footer span {
  border: 1px solid #929496;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 3px; }

.content {
  background-color: #FFF;
  font-size: 17px; }
  .content .container {
    margin-top: 500px; }
  .content__decription {
    display: flex;
    flex-direction: row; }
  .content__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 200px; }
  .content__item {
    width: 32%; }
    .content__item--purple {
      border-top: solid 4px #6D3F96; }
    .content__item--blue {
      border-top: solid 4px #70CBCE; }
    .content__item--orange {
      border-top: 4px solid #FDC05D; }
    .content__item p {
      font-family: "Raleway", sans-serif; }
  .content h2 {
    color: #000000;
    padding: 15px 0px; }

.firstscreen {
  padding: 50px;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  background-image: url(/app/images/mountain.jpg); }
  .firstscreen .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .firstscreen__tittle {
    width: 60%;
    margin: 0 auto;
    text-align: center; }
    .firstscreen__tittle h2, .firstscreen__tittle p {
      padding-bottom: 30px; }
    .firstscreen__tittle .firstscreen__items {
      display: flex;
      justify-content: center; }
    .firstscreen__tittle li {
      width: 180px; }
    .firstscreen__tittle .a {
      display: block; }
    .firstscreen__tittle .item-white {
      background-color: #fff;
      margin-right: 30px;
      border-radius: 4px;
      text-transform: uppercase; }
    .firstscreen__tittle .item-white > a {
      color: #929496; }
    .firstscreen__tittle .item-blue {
      background-color: #70CBCE;
      border-radius: 4px;
      text-transform: uppercase; }
  .firstscreen img {
    margin: 30px auto; }

/*# sourceMappingURL=style.css.map */
